################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSStudio2/v17
/BackendApi/.vs/UMS/FileContentIndex
